/* styles.css */
body {
  font-family: Arial, sans-serif;

  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #43cea2, #185a9d);
  overflow: hidden;
}

.container {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Centered container for inputs */
.inputField {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  animation: pop-in 1s ease-out;
}

@keyframes pop-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

input {
  width: 300px;
}

/* Inputs and button styles */
input,
button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  animation: button-glow 1.5s infinite alternate;
}

@keyframes button-glow {
  0% {
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.6);
  }
  100% {
    box-shadow: 0px 0px 20px rgba(0, 123, 255, 0.9);
  }
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

/* Animated text display */
p {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  opacity: 0;
  animation: fade-in 2s forwards ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Toggle container */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}

/* The switch - the actual checkbox is hidden */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Header styling */
.logo h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(to right, #43cea2, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  margin: 0;
  margin-bottom: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a4bfc;
  border-radius: 24px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00ff48;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
